<div class="container" style="">
    <div class="row" ng-if="!(isAuthenticated())">
        <div class="col-lg-12" style="padding-right:2px;">
            <a href="#/search" class="pull-left" style="text-decoration:none;">
                <h1 style="font-family: 'open sans',arial,sans-serif;color:#fff;font-weight:300;font-size:40px;margin-top:10px;">
                    <i class="fa fa-at" style="color:#fff;font-weight:300;"></i>&nbsp;
                    Weber
                </h1>
            </a>
            <!--<form class="navbar-form pull-right" style="padding:0px;"
                  role="form" ng-submit="login()" name="myForm1">
                <div class="form-group" style="height:50px;">
                    <input type="email" style="padding: 5px 6px;" autocomplete="off"
                       class="form-control input-sm"
                       name="email" ng-model="login_email"
                       placeholder="Enter valid Email" required/>
                </div>
                <div class="form-group" style="height:50px;">
                    <input type="password" class="form-control input-sm" style="padding: 5px 6px;"
                       placeholder="Enter Password"
                       name="password" ng-model="login_password" required  /><br>
                    <span class="">
                        <a href="/#/forgotpassword" style="font-size:12px;color:#FFF;;">
                            Forgot Password?
                        </a>
                    </span>
                </div>
                <div class="form-group" style="height:50px;">
                    <button type="submit" ng-disabled="!myForm1.$valid"
                            class="btn btn-default btn-sm" ng-click="submitLogin()">
                        Sign in
                    </button>
                </div>
            </form>-->
        </div>
    </div>
    <div class="row" style="padding-top:30px">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>
                        Your email is already activated..
                    </h5>
                    <h5>click here to<a href="#/login"> Login</a> </h5>
                </div>
                <div class="panel-footer">
                    <h5 style="line-height:1.7em;">From<br> <strong>Weber Team</strong></h5>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body{
        background: url(static/app/images/bg-start.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top:30px;
    }
</style>