<div ng-if="!(isAuthenticated())" class="navbar navbar-default header-start-search navbar-fixed-top" style="background-color:#F8F8F8;">
    <div class="container" style="padding:10px;">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/search" style="color:#333;font-size:30px;">
                <!--<img style="width:37px;" src="https://pbs.twimg.com/profile_images/2451242971/WinchPharma_Group_W_logo_bigger.png">-->
                weber
            </a>
        </div>
    </div>
</div>
<div class="container" style="padding-top:80px;">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-default" style="border:1px solid #dcdcdc;">
                <div class="panel-body">
                    <h6 style="line-height:1.7em;">
                        Thanks for registering with us, An email confirmation link has been sent to <strong>{{ email }}</strong>,
                    </h6>
                    <h6>
                        Please click on the link to activate your account.
                    </h6>
                </div>
                <div class="panel-footer">
                    <h6 style="line-height:1.7em;">From<br> <strong>Weber Team</strong></h6>

                </div>
            </div>
        </div>
    </div>
</div>

<style ng-if="!(isAuthenticated())">
    body{
        /*background: url(static/app/images/bg-start.jpg) no-repeat center center fixed;*/
        background-color:#fff;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top:30px;
    }
</style>