<div class="container" style="">
    <div class="row" ng-if="!(isAuthenticated())">
        <div class="col-lg-12" style="padding-right:2px;">
            <a href="#/search" class="pull-left" style="text-decoration:none;">
                <h1 style="font-family: 'open sans',arial,sans-serif;color:#fff;font-weight:300;font-size:40px;margin-top:10px;">
                    <i class="fa fa-at" style="color:#fff;font-weight:300;"></i>&nbsp;
                    Weber
                </h1>
            </a>
            <!--<form class="navbar-form pull-right" style="padding:0px;"
                  role="form" ng-submit="login()" name="myForm1">
                <div class="form-group" style="height:50px;">
                    <input type="email" style="padding: 5px 6px;" autocomplete="off"
                       class="form-control input-sm"
                       name="email" ng-model="login_email"
                       placeholder="Enter valid Email" required/>
                </div>
                <div class="form-group" style="height:50px;">
                    <input type="password" class="form-control input-sm" style="padding: 5px 6px;"
                       placeholder="Enter Password"
                       name="password" ng-model="login_password" required  /><br>
                    <span class="">
                        <a href="/#/forgotpassword" style="font-size:12px;color:#FFF;;">
                            Forgot Password?
                        </a>
                    </span>
                </div>
                <div class="form-group" style="height:50px;">
                    <button type="submit" ng-disabled="!myForm1.$valid"
                            class="btn btn-default btn-sm" ng-click="submitLogin()">
                        Sign in
                    </button>
                </div>
            </form>-->
        </div>
    </div>
    <div class="row" style="padding-top:30px">
        <div class="col-md-5 col-md-offset-3">
            <div class="panel panel-default" cg-busy="password_recovery_busy">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock" style="opacity:0.70"></span>
                    <strong>Weber</strong>
                    Password Recovery
                </div>
                <div class="panel-body">
                    <passwordrecovery>
                        <form class="form-horizontal"
                              role="form" ng-submit="sendpasswordlink()"
                              name="myForm">
                            <div class="form-group">
                                <label  class="col-sm-3 control-label">
                                    Email
                                </label>
                                <div class="col-sm-9">
                                    <input type="email"
                                           class="form-control" id="email"
                                           name="email" ng-model="email" placeholder="Enter Email" required/>
                                    <span ng-show="myForm.email.$error.required && myForm.email.$dirty" style="color:red">
                                        Email is required
                                    </span>
                                    <span ng-show="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty"
                                            style="color:red">
                                        You entered an invalid email
                                    </span>
                                </div>
                            </div>
                            <div class="form-group last">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" ng-disabled="!myForm.$valid" class="btn btn-success btn-sm" ng-click="sendPassword()">
                                        Submit
                                    </button>

                                </div>
                            </div>
                        </form>
                    </passwordrecovery>
                </div>
                <div ng-if="error" class="panel-footer">
                    <span style="color:red">
                        {{ error }}
                    </span>
                </div>
                <div class="panel-footer">
                    Goto Login?  <a href="#/search">Please Click Here</a></div>
            </div>
        </div>
    </div>
</div>


<style>
    body{
        background: url(static/app/images/bg-start.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top:30px;
    }
</style>