<div class="navbar navbar-inverse header-start-search navbar-fixed-top" ng-if="isAuthenticated()">
    <div class="container" style="">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-if="isAuthenticated()" href="/#/home"
                     style="padding:5px;font-size:20px;font-family: 'Open sans',Arial,sans-serif;">
              <h3 style="font-family: 'Open sans',Arial,sans-serif;font-weight:400;margin-top:5px;">
                  <span style="margin-left: 0px;color:#fff;">
                      Weber
                  </span>
              </h3>
            </a>
            <a class="navbar-brand" ng-if="!isAuthenticated()" href="/#/search"
                 style="padding:5px;font-size:20px;font-family: 'Open sans',Arial,sans-serif;">
              <h3 style="font-family: 'Open sans',Arial,sans-serif;font-weight:400;margin-top:5px;">
                  <span style="margin-left: 0px;color:#fff;">
                      Weber
                  </span>
              </h3>
            </a>
        </div>
        <center>
            <div class="navbar-collapse collapse show-when-minimize" id="navbar-main" style="">
                <div class="col-sm-5"  ng-show="isAuthenticated()">
                    <form role="form" style="margin-top: 8px;">
                        <div class="row">
                            <div class="col-xs-12">
                                <autocomplete ng-model="result" attr-placeholder="Search friends in Weber"
                                              click-activation="false" data="movies" on-type="doSomething"
                                              on-select="doSomethingElse" attr-inputclass="form-control input-md search-navbar">

                                </autocomplete>
                            </div><!-- /.col-xs-12 -->
                        </div><!-- /.row -->
                    </form>
                </div>
                <ul class="nav navbar-nav pull-right" ng-if="!isAuthenticated()">
                    <li data-match-route="/login"><a href="#/login">Login</a>
                    </li>
                    <li data-match-route="/signup"><a href="#/signup">Sign up</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="isAuthenticated()" >
                    <li><a href="#/search" ng-click="SeenMatchButton()">Match Me</a></li>
                    <li><a href="#/friends">Friends</a></li>
                    <li>
                        <a data-template="static/bower_components/angular-strap/src/popover/popover.tpl.html"
                             data-placement="bottom-right" data-auto-close="1" bs-popover="popover">
                            <i class="glyphicon glyphicon-envelope"
                               style="font-size:17px;">
                            </i>
                            {{ chatactivity.messageNotific.length }}
                            <label class="label label-danger" ng-if="chatactivity.messageNotifc.length"
                                   style="position:absolute;font-size:10px;top: 5px;right:-8px;">
                                    {{ chatactivity.messageNotifc.length }}

                            </label>
                        </a>
                    </li>
                    <li class="dropdown" style="">
                        <a class="dropdown-toggle" style="cursor:pointer;" data-toggle="dropdown"
                           ng-click="getNewNotifcations();makeSeen()" style="cursor:pointer">
                            <i class="glyphicon glyphicon-globe" style="font-size:17px;">
                            </i>
                            <label class="label label-danger"
                                   style="position:absolute;font-size:10px;top: 5px;right: 0px;" ng-if="notifications_count">
                                    {{ notifications_count }}
                            </label>
                        </a>
                        <div class="dropdown-menu" style="padding:0px;width:350px;">
                            <form style="padding:0px;">
                                <div class="panel panel-default arrow_box" style="margin-bottom:0px;">
                                    <div class="panel-heading"
                                         style="border-bottom:1px solid #E7E5E5;">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h5>
                                                    <strong>
                                                        Friends Requests
                                                    </strong>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="height:200px;">
                                        <div class="row" style="margin-top:7px"
                                             ng-repeat="request_notific in currentUser.notifications"
                                             ng-if='request_notific.notific_type === 1'   >
                                            <div class="col-sm-2">
                                                <a href="#/profile/{{ request_notific.friendid }}">
                                                    <img ng-src="{{  UserService.get(request_notific.friendid).picture.thumbnail }}"
                                                         style="width:50px">
                                                </a>
                                            </div>
                                            <div class="col-sm-5">
                                                <a href="#/profile/{{ UserService.get(request_notific.friendid).username }}">
                                                    <h5>
                                                        {{ UserService.get(request_notific.friendid).name.first }}
                                                          {{ request_notific.notific_type }}
                                                    </h5>
                                                </a>
                                            </div>
                                            <div class="col-sm-5">

                                                <acceptreject>
                                                    <button ng-click="acceptrequest('{{ currentUser._id }}','{{ request_notific.friendid }}')"
                                                            class="btn btn-sm btn-primary">accept</button>
                                                    <button ng-click="rejectrequest('{{ currentUser._id }}','{{ request_notific.friendid }}')"
                                                            class="btn btn-primary btn-sm pull-right">reject</button>
                                                </acceptreject>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-heading">
                                        <div class="row"
                                             style="">
                                            <div class="col-sm-12">
                                                <h5>
                                                    <strong>
                                                        Notifications
                                                    </strong>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body messages-scroll" style="height:300px;">
                                        <!--<div class="row" ng-if="!apeoples.length">
                                            <div class="col-sm-12">
                                                <h5>No new notifications found</h5>
                                            </div>
                                        </div>-->

                                        <div class="row" style="margin-top:7px;border-bottom:1px solid #f2f2f2;padding-bottom:5px;" ng-repeat="request_notific in currentUser.notifications"
                                                ng-if="request_notific.notific_type === 2 || request_notific.notific_type === 3" >
                                            <div class="col-sm-2" >

                                                <img ng-src="{{ UserService.get(request_notific.friendid).picture.large}}"
                                                     style="width:50px">
                                                
                                            </div>
                                            <div class="col-sm-10" >
                                                <h5>
                                                    <a href="#/profile/{{ UserService.get(request_notific.friendid).username }}">
                                                        {{ UserService.get(request_notific.friendid).name.first }}

                                                    </a>
                                                    <div ng-if="request_notific.notific_type === 2 ">
                                                        Accepted your friend request
                                                    </div>
                                                    <a ng-if="request_notific.notific_type === 3"
                                                       href="#/post/{{ request_notific.postid }}">your post
                                                    </a>

                                                </h5>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li>
                        <a href="" bs-dropdown="dropdown" style="padding-top: 11px; padding-bottom: 11px;" getuserdata>
                            <img style="width:28px; border: 2px solid; margin-right: 5px;" class="img-circle" ng-src="{{currentUser.picture.thumbnail}}" alt="">
                            {{currentUser.username}}
                            <span class="caret"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </center>
    </div>
</div>
