<div class="row">
    <div class="col-sm-12">
         <!-- tabs left -->
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs col-sm-3" style="margin-right:0px;background-color:#fff;">
            <li class="active">
                <a data-target="#a" data-toggle="tab">
                    Profile Content
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
            </li>
            <li>
                <a data-target="#b" data-toggle="tab">
                    Two
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
            </li>
            <li>
                <a data-target="#c" data-toggle="tab">
                    Twee
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
            </li>
        </ul>
        <div class="tab-content col-sm-7">
            <div class="tab-pane active" id="a">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row" style="border-bottom:1px solid #dcdcdc;">
                            <div class="col-sm-12">
                                <label>Profile</label>
                                <h5 style="opacity:0.60;margin-top:2px;">
                                    This information appears on your public profile, search results and beyond..
                                </h5>
                            </div>
                        </div>
                        <div class="row" style="padding-top:20px;">
                            <div class="col-sm-12">
                                Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate.
                                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="b">
                Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
            </div>
            <div class="tab-pane" id="c">
                Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae.
            </div>
            </div>
      </div>
      <!-- /tabs -->
    </div>
</div>