<div class="row">
    <div class="col-lg-10 col-sm-12" style="">
        <!-- tabs left -->
      <div class="tabbable tabs-left">
          <div class="col-sm-3 col-md-3 colpadding">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading" style="background-color:#fff;border-top:1px solid #ddd;">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion"
                     data-target="#collapseOne" style="cursor:pointer;text-decoration:none;">
                      <img src="{{ user.picture.thumbnail }}" style="width:40px;border-radius:5px;" class=""> &nbsp;
                      Account Settings
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <ul class="list-group">
                  <li class="list-group-item">
                      <span class="fa fa-user text-primary"></span>&nbsp;
                      <a data-target="#a" data-toggle="tab" style="cursor:pointer;color:#333;">
                          Account
                          <i class="fa fa-angle-right pull-right"></i>
                      </a>
                  </li>

                  <li class="list-group-item">
                      <span class="fa fa-lock text-primary"></span>&nbsp;
                      <a data-target="#b" data-toggle="tab" style="cursor:pointer;color:#333;">
                          Password
                          <i class="fa fa-angle-right pull-right"></i>
                      </a>
                  </li>
                  <li class="list-group-item">
                      <span class="fa fa-phone text-primary"></span>&nbsp;
                      <a data-target="#c" data-toggle="tab" style="cursor:pointer;color:#333;">
                          Mobile
                          <i class="fa fa-angle-right pull-right"></i>
                      </a>
                  </li>
                  <li class="list-group-item">
                      <span class="fa fa-microphone text-primary"></span>&nbsp;
                      <a data-target="#d" data-toggle="tab" style="cursor:pointer;color:#333;">
                          Profile
                          <i class="fa fa-angle-right pull-right"></i>
                      </a>
                  </li>
                  <li class="list-group-item">
                      <span class="fa fa-globe text-primary"></span>&nbsp;
                      <a data-target="#a" data-toggle="tab" style="cursor:pointer;color:#333;">
                          Notifications
                          <i class="fa fa-angle-right pull-right"></i>
                      </a>
                  </li>
                  <li class="list-group-item">
                      <span class="fa fa-thumbs-o-up text-primary"></span>&nbsp;
                      <a data-target="#a" data-toggle="tab" style="cursor:pointer;color:#333;">
                          Connections
                          <i class="fa fa-angle-right pull-right"></i>
                      </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </div>

    <div class="tab-content col-lg-8 col-sm-12 colpadding">
        <div class="tab-pane active" id="a">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#fff;border-top:1px solid #ddd;">
                    <label>
                        <span class="fa fa-user"></span>&nbsp;
                        Account
                    </label>
                    <h5 style="opacity:0.65;margin-top:1px;margin-bottom:3px;">
                        Change Account settings, language and more..
                    </h5>
                </div>
                <div class="panel-body">
                    <div class="row" style="cursor:pointer;"
                         ng-click="username_section = !username_section">
                        <div class="col-sm-12">
                            <div class="jumbotron"
                                 style="padding:10px;border-radius: 3px;margin-bottom:3px;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5 style="opacity:0.80;" class="">
                                            Username
                                        </h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5>
                                            <label style="cursor:pointer;">{{ user.username }}</label>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="username_section" style="padding-top:10px;">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-3 colpadding">
                                    <h6 style="line-height:1.5em;">
                                        <span style="opacity:0.60;">
                                            <i class="fa fa-exclamation-circle"></i>&nbsp;
                                            Username must be Unique,&nbsp;
                                            it's like
                                        </span>
                                        <a href="">http://www.weber.ooo/{{ user.username }}</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 colpadding">
                                    <h6 class="pull-right">
                                        <label>
                                            Username
                                        </label>
                                    </h6>
                                </div>
                                <div class="col-lg-8 colpadding">
                                    <form name="myuForm">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control input-sm" id="username" name="username"
                                                       ng-model="u_username" required
                                                      placeholder="Enter Username" style="margin-bottom:8px;"  />
                                                <span style="color:red;" ng-show="myuForm.username.$error.required
                                                        && myuForm.username.$dirty">
                                                       required
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button type="submit" ng-click="username_section = !username_section;updateUsername()"
                                                        class="btn btn-sm btn-primary" ng-disabled="!myuForm.$valid">
                                                   Submit
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="cursor:pointer;padding-top:10px;"
                         ng-click="email_section = !email_section">
                        <div class="col-sm-12">
                            <div class="jumbotron"
                                 style="padding:10px;border-radius: 3px;margin-bottom:3px;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5 style="opacity:0.80;" class="">
                                            Email
                                        </h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5>
                                            <label style="cursor:pointer;">{{ user.email }}</label>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="email_section" style="padding-top:10px;">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-lg-offset-3 col-lg-8 colpadding">
                                    <h6 style="opacity:0.60;">
                                        <i class="fa fa-exclamation-circle"></i>&nbsp;
                                        Your email can't be edited
                                    </h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 colpadding">
                                    <h6 class="pull-right">
                                        <label>
                                            Email
                                        </label>
                                    </h6>
                                </div>
                                <div class="col-lg-4 colpadding">
                                    <form name="myForm2">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="email" id="email" name="email" class="form-control input-sm"
                                                       ng-model="formData.email" required disabled style="margin-bottom:5px;"
                                                        placeholder="{{ user.email }}"/>
                                                   <span style="color:red;" ng-show="myForm2.email.$error.required && myForm2.email.$dirty">
                                                       required
                                                   </span>
                                                   <span style="color:red;" ng-show="!myForm2.email.$error.required && myForm2.email.$error.email && myForm.email.$dirty">
                                                       invalid email
                                                   </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button type="submit" class="btn btn-sm btn-primary" ng-disabled="!myForm2.$valid">
                                                   Submit
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="cursor:pointer;padding-top:10px;"
                         ng-click="firstname_lastname_section = !firstname_lastname_section">
                        <div class="col-sm-12">
                            <div class="jumbotron"
                                 style="padding:10px;border-radius: 3px;margin-bottom:3px;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5 style="opacity:0.80;" class="">
                                            Name
                                        </h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5>
                                            <label style="cursor:pointer;">{{ user.name.first }} {{ user.name.last }}</label>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="firstname_lastname_section" style="padding-top:10px;">
                        <div class="col-sm-12">
                            <form name="myForm3">
                                <div class="row">
                                    <div class="col-lg-offset-3 col-lg-8 colpadding">
                                        <h6 style="opacity:0.60;">
                                            <i class="fa fa-exclamation-circle"></i>&nbsp;
                                            Enter first and last name must
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 colpadding">
                                        <h6 class="pull-right">
                                            <label>
                                                First Name
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-lg-4 colpadding">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control input-sm" id="firstName" name="firstName"
                                                      ng-model="edit_first_name" required
                                                      placeholder="Enter First Name" style="margin-bottom:5px;"  />
                                                <span style="color:red;" ng-show="myForm3.firstName.$error.required && myForm3.firstName.$dirty">
                                                       required
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 colpadding">
                                        <h6 class="pull-right">
                                            <label>
                                                Last Name
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-lg-4 colpadding">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control input-sm" id="lastName" name="lastName"
                                                      ng-model="edit_last_name" required
                                                      placeholder="Enter lastName" style="margin-bottom:5px;"  />
                                                <span style="color:red;" ng-show="myForm3.lastName.$error.required && myForm3.lastName.$dirty">
                                                       required
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button type="submit" ng-click="firstname_lastname_section = !firstname_lastname_section;updateFirstLastName()"
                                                        class="btn btn-sm btn-primary" ng-disabled="!myForm3.$valid">
                                                   Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row" style="cursor:pointer;padding-top:10px;"
                         ng-click="interests_section = !interests_section">
                        <div class="col-sm-12">
                            <div class="jumbotron"
                                 style="padding:10px;border-radius: 3px;margin-bottom:3px;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5 style="opacity:0.80;" class="">
                                            Interests
                                        </h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5 ng-repeat="interest in user.interests">
                                            <label style="cursor:pointer;">{{ interest }}</label>
                                        </h5>
                                        <h5 style="opacity:0.90;" ng-if="!(user.interests.length)">
                                            <label style="color:red;cursor:pointer;">
                                                Please add some interests here
                                            </label>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="interests_section" style="padding-top:10px;">
                        <div class="col-sm-12">
                            <form name="myiForm">
                                <div class="row">
                                    <div class="col-lg-offset-3 col-lg-8">
                                        <h6 style="opacity:0.60;">
                                            <i class="fa fa-exclamation-circle"></i>&nbsp;
                                            Enter your interests here
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 colpadding">
                                        <h6 class="pull-right">
                                            <label>
                                                Interests
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-lg-6 colpadding">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <tags-input ng-model="tags" id="interests_tag" name="interests_tag" on-tag-added="tagAdded($tag)"
                                                            on-tag-removed="tagRemoved($tag)" required>
                                                    <auto-complete source="loadTags($query)"></auto-complete>
                                                </tags-input>
                                                <span style="color:red;"
                                                      ng-show="myiForm.interests_tag.$error.required && myiForm.interests_tag.$dirty">
                                                       required
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row" style="padding-top:10px;">
                                            <div class="col-sm-12">
                                                <button type="submit"
                                                        ng-click="interests_section = !interests_section;updateInterests()"
                                                        class="btn btn-sm btn-primary" ng-disabled="!myiForm.$valid">
                                                   Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row" style="cursor:pointer;padding-top:10px;"
                         ng-click="location_section = !location_section">
                        <div class="col-sm-12">
                            <div class="jumbotron"
                                 style="padding:10px;border-radius: 3px;margin-bottom:3px;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5 style="opacity:0.80;" class="">
                                            My Location
                                        </h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5>
                                            <label style="cursor:pointer;">
                                                {{ user.location.state }}, {{ user.location.city }}, {{ user.location.street }}
                                            </label>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="location_section" style="padding-top:10px;">
                        <div class="col-sm-12">
                            <form name="myFormL">
                                <div class="row">
                                    <div class="col-lg-offset-3 col-lg-8 colpadding">
                                        <h6 style="opacity:0.60;">
                                            <i class="fa fa-exclamation-circle"></i>&nbsp;
                                            Enter Exact location to provide more benefits to your search
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 colpadding">
                                        <h6 class="pull-right">
                                            <label>
                                                Enter State
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-lg-4 colpadding">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control input-sm" id="location_state" name="location_state"
                                                      ng-model="location_state" required
                                                      placeholder="Enter State Name" style="margin-bottom:5px;"  />
                                                <span style="color:red;"
                                                      ng-show="myFormL.location_state.$error.required && myFormL.location_state.$dirty">
                                                       required
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 colpadding">
                                        <h6 class="pull-right">
                                            <label>
                                                Enter Street
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-lg-4 colpadding">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control input-sm" id="location_street" name="location_street"
                                                      ng-model="location_street" required
                                                      placeholder="Enter Street Name" style="margin-bottom:5px;"  />
                                                <span style="color:red;"
                                                      ng-show="myFormL.location_street.$error.required && myFormL.location_street.$dirty">
                                                       required
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 colpadding">
                                        <h6 class="pull-right">
                                            <label>
                                                Enter City
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-lg-4 colpadding">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control input-sm" id="location_city" name="location_city"
                                                      ng-model="location_city" required
                                                      placeholder="Enter City" style="margin-bottom:5px;"  />
                                                <span style="color:red;" ng-show="myFormL.location_city.$error.required && myFormL.location_city.$dirty">
                                                       required
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button type="submit"
                                                        ng-click="location_section = !location_section;updatechangelocation()"
                                                        class="btn btn-sm btn-primary" ng-disabled="!myFormL.$valid">
                                                   Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row" style="cursor:pointer;padding-top:10px;"
                         ng-click="study_section = !study_section">
                        <div class="col-sm-12">
                            <div class="jumbotron"
                                 style="padding:10px;border-radius: 3px;margin-bottom:3px;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5 style="opacity:0.80;" class="">
                                            Studies
                                        </h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5 ng-if="user.study.intermediate">
                                            <label style="cursor:pointer;">
                                                {{ user.study.intermediate }}, {{ user.study.graduate }}
                                            </label>
                                        </h5>
                                        <h5 ng-if="!(user.study.intermediate)">
                                            <label style="cursor:pointer;color:red;">
                                                Please Update Your Studies
                                            </label>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="study_section" style="padding-top:10px;">
                        <div class="col-sm-12">
                            <form name="myForms">
                                <div class="row">
                                    <div class="col-lg-offset-3 col-lg-8 colpadding">
                                        <h6 style="opacity:0.60;">
                                            <i class="fa fa-exclamation-circle"></i>&nbsp;
                                            Enter Exact location to provide more benefits to your search
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 colpadding">
                                        <h6 class="pull-right">
                                            <label>
                                                Intermediate
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-lg-4 colpadding">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control input-sm" id="study_intermediate" name="study_intermediate"
                                                      ng-model="study_intermediate" required
                                                      placeholder="Enter Intermediate" style="margin-bottom:5px;"  />
                                                <span style="color:red;"
                                                      ng-show="myForms.study_intermediate.$error.required && myForms.study_intermediate.$dirty">
                                                       required
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 colpadding">
                                        <h6 class="pull-right">
                                            <label>
                                                Enter Graduation
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-lg-4 colpadding">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control input-sm" id="study_graduate" name="study_graduate"
                                                      ng-model="study_graduate" required
                                                      placeholder="Enter Graduation" style="margin-bottom:5px;"  />
                                                <span style="color:red;" ng-show="myForms.study_graduate.$error.required && myForms.study_graduate.$dirty">
                                                       required
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button type="submit"
                                                        ng-click="study_section = !study_section;updatechangestudy()"
                                                        class="btn btn-sm btn-primary" ng-disabled="!myForms.$valid">
                                                   Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="tab-pane" id="b">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#fff;border-top:1px solid #ddd;">
                    <label>
                        <span class="fa fa-lock"></span>&nbsp;
                        Password
                    </label>
                    <h5 style="opacity:0.65;margin-top:1px;margin-bottom:3px;">
                        Change your password..
                    </h5>
                </div>
                <div class="panel-body">
                    <div class="row" style="cursor:pointer;"
                         ng-click="username_section = !username_section">
                        <div class="col-sm-12">
                            <div class="jumbotron"
                                 style="padding:10px;border-radius: 3px;margin-bottom:3px;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5 style="opacity:0.80;" class="">
                                            Password
                                        </h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5>
                                            <label style="cursor:pointer;">Updated on {{user.password.password_updated}}</label>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="username_section" style="padding-top:10px;">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-3 colpadding">
                                    <h6>
                                        <span style="opacity:0.60;">
                                            <i class="fa fa-exclamation-circle"></i>&nbsp;
                                            Please put Password confidential..
                                        </span>
                                    </h6>
                                </div>
                            </div>
                            <form name="myfForm">
                                <div class="row">
                                    <div class="col-lg-3 colpadding">
                                        <h6 class="pull-right">
                                            <label>
                                                Current Password
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-lg-8 colpadding">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control input-sm" id="cPassword" name="cPassword"
                                                      ng-model="formData.cPassword" ng-change="checkUserCurrentPassword()" required
                                                      placeholder="Enter Current Password" style="margin-bottom:8px;"  />
                                                <span ng-if="if_user_password_is_incorrect" style="color:red;">
                                                    {{ if_user_password_is_incorrect }}
                                                </span>
                                                <span style="color:red;" ng-show="myfForm.cPassword.$error.required && myfForm.cPassword.$dirty">
                                                       required
                                                </span>
                                            </div>
                                            <div class="col-sm-4 colpadding">
                                                <h6>
                                                    <a href="#/forgotpassword" style="text-decoration:none;">Forgot Password?</a>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 colpadding">
                                        <h6 class="pull-right">
                                            <label>
                                                New Password
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-lg-8 colpadding">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control input-sm"
                                                       placeholder="Enter new password" id="password" name="password"
                                                       ng-model="formData.password" required  />
                                                   <span style="color:red;" ng-show="myfForm.password.$error.required
                                                        && myfForm.password.$dirty">
                                                       required
                                                   </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 colpadding">
                                        <h6 class="pull-right">
                                            <label>
                                                Confirm Password
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-lg-8 colpadding">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control input-sm"
                                                       placeholder="Enter Confirm password" id="password_c" name="password_c"
                                                       ng-model="formData.password" required style="margin-bottom:10px;" />
                                                   <!--<span style="color:red;" ng-show="myfForm.password_c.$error.required
                                                        && myfForm.password_c.$dirty">
                                                       Please confirm your password.
                                                   </span>
                                                   <span style="color:red;" ng-show="!myfForm.password_c.$error.required
                                                        && myfForm.password_c.$error.noMatch
                                                        && myfForm.password_c.$dirty">
                                                       Passwords do not match.
                                                   </span>-->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button type="submit" ng-click="username_section = !username_section;updatePassword()"
                                                        class="btn btn-sm btn-primary" ng-disabled="!myfForm.$valid">
                                                   Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="c">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#fff;border-top:1px solid #ddd;">
                    <label>
                        <span class="fa fa-phone"></span>&nbsp;
                        Mobile
                    </label>
                    <h5 style="opacity:0.65;margin-top:1px;margin-bottom:3px;">
                        Change Mobile settings and more..
                    </h5>
                </div>
                <div class="panel-body">
                    <div class="row" style="cursor:pointer;"
                         ng-click="mobile_section = !mobile_section">
                        <div class="col-sm-12">
                            <div class="jumbotron"
                                 style="padding:10px;border-radius: 3px;margin-bottom:3px;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5 style="opacity:0.80;" class="">
                                            Mobile
                                        </h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5>
                                            <label style="cursor:pointer;">{{ user.phone }}</label>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="mobile_section" style="padding-top:10px;">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-3 colpadding">
                                    <h6>
                                        <span style="opacity:0.60;">
                                            <i class="fa fa-exclamation-circle"></i>&nbsp;
                                            We put your mobile number confidential..
                                        </span>
                                    </h6>
                                </div>
                            </div>
                            <form name="myForm1">
                                <div class="row">
                                    <div class="col-lg-3 colpadding">
                                        <h6 class="pull-right">
                                            <label>
                                                Mobile
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-lg-8 colpadding">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <input type="text" id="mobile" name="mobile" class="form-control input-sm"
                                                       ng-model="formData.mobile" ng-minlength="10"
                                                       placeholder="Enter 10 digit mobile number"
                                                       ng-maxlength="12" ng-pattern="/^[0-9]*$/" required
                                                       style="margin-bottom:10px;"  />
                                                   <span style="color:red;" ng-show="myForm1.mobile.$error.required
                                                        && myForm1.mobile.$dirty">
                                                       required
                                                   </span>
                                                   <span style="color:red;" ng-show="!myForm1.mobile.$error.minLength
                                                        && !myForm1.mobile.$error.maxLength && myForm1.mobile.$error.pattern
                                                        && myForm1.mobile.$dirty">
                                                       You must enter a number only.
                                                   </span>
                                                   <span style="color:red;" ng-show="!myForm1.mobile.$error.required
                                                        && (myForm1.mobile.$error.minlength || myForm1.mobile.$error.maxlength)
                                                        && myForm1.mobile.$dirty">
                                                       Number must be 10 characters.
                                                   </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button type="submit" class="btn btn-sm btn-primary" ng-disabled="!myForm1.$valid">
                                                   Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="d">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#fff;border-top:1px solid #ddd;">
                    <label>
                        <span class="fa fa-microphone text-default"></span>&nbsp;
                        Profile
                    </label>
                    <h5 style="opacity:0.65;margin-top:1px;margin-bottom:3px;">
                        The information appears on your public profile and more..
                    </h5>
                </div>
                <div class="panel-body">
                    <div class="row" style="cursor:pointer;"
                         ng-click="mobile_section = !mobile_section">
                        <div class="col-sm-12">
                            <div class="jumbotron"
                                 style="padding:10px;border-radius: 3px;margin-bottom:3px;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="thumbnail" style="margin-bottom:0px;">
                                            <img ng-src="{{ user.picture.large }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <button type="button" class="btn btn-sm btn-danger"
                                                 data-animation="am-fade-and-scale" data-placement="center"
                                                data-template="static/app/views/uploadimage.html"
                                                 bs-modal="modal">
                                            Change Profile Picture
                                        </button>
                                        <a ng-click="showFileButton">
                                            Change Profile Picture
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
   </div>
      <!-- /tabs -->
    </div>
</div>


<script>
    jQuery(document).ready(function ($) {

    $('[data-popup-target]').click(function () {
        $('html').addClass('overlay');
        var activePopup = $(this).attr('data-popup-target');
        $(activePopup).addClass('visible');

    });

    $(document).keyup(function (e) {
        if (e.keyCode == 27 && $('html').hasClass('overlay')) {
            clearPopup();
        }
    });

    $('.popup-exit').click(function () {
        clearPopup();

    });

    $('.popup-overlay').click(function () {
        clearPopup();
    });

    function clearPopup() {
        $('.popup.visible').addClass('transitioning').removeClass('visible');
        $('html').removeClass('overlay');

        setTimeout(function () {
            $('.popup').removeClass('transitioning');
        }, 200);
    }

});
</script>