<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius:0px;min-height:400px;cursor:default;">
      <div class="modal-header" style="background-color:#f5f5f5;">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h5 class="modal-title">
            <label style="color:#444;">
                Showing Profile Picture
            </label>
        </h5>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-lg-12">
                  <div class="thumbnail" style="border:0px solid">
                      <img ng-src="{{user.picture.large}}">
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>