<div class="container" style="padding:0px;">
    <div class="row" ng-if="!(isAuthenticated())">
        <div class="col-lg-12" style="padding-right:2px;">
            <a href="" class="pull-left" style="text-decoration:none;">
                <h1 style="font-family: 'open sans',arial,sans-serif;color:#fff;font-weight:300;font-size:40px;margin-top:10px;">
                    <i class="fa fa-at" style="color:#fff;font-weight:300;"></i>&nbsp;
                    Weber
                </h1>
            </a>
            <form class="navbar-form pull-right" style="padding:0px;"
                  role="form" ng-submit="login()" name="myForm1">
                <div class="form-group" style="height:50px;">
                    <input type="email" style="padding: 5px 6px;" autocomplete="off"
                       class="form-control input-sm"
                       name="email" ng-model="login_email"
                       placeholder="Enter valid Email" required/>
                </div>
                <div class="form-group" style="height:50px;">
                    <input type="password" class="form-control input-sm" style="padding: 5px 6px;"
                       placeholder="Enter Password"
                       name="password" ng-model="login_password" required  /><br>
                    <span class="">
                        <a href="/#/forgotpassword" style="font-size:12px;color:#FFF;;">
                            Forgot Password?
                        </a>
                    </span>
                </div>
                <div class="form-group" style="height:50px;">
                    <button type="submit" ng-disabled="!myForm1.$valid"
                            class="btn btn-default btn-sm" ng-click="submitLogin()">
                        Sign in
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="padding-top:60px;">
        <div class="col-lg-7">
            <div class="row" ng-if="!(isAuthenticated())">
                <div class="col-sm-12">
                    <h1 style="font-family: 'open sans',arial,sans-serif;color:#fff;font-weight:300;font-size:40px;">
                        Wonder what weber can do,
                    </h1>
                    <h3 style="font-family: 'open sans',arial,sans-serif;color:#fff;font-weight:300;line-height:1.4em;">
                        Instant updates from your friends, Industry experts, favorite celebrities, and what happening around the world..
                    </h3>
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <div class="col-sm-10">
                    <div class="right-inner-addon ">
                        <i class="glyphicon glyphicon-search"
                           style="font-size: 17px;padding: 10px 12px;top:10px;"></i>
                        <input type="search" style="border-radius: 22px;"
                               class="form-control input-lg search-box" ng-model="query" focus="true"
                           placeholder="Search anything in weber" ng-keyup="$event.keyCode == 13 && perfomSearch()"/>
                    </div>
                </div>
            </div>

            <div ng-if="matchResults.saResultsNotFound && matchResults.mResultsNotFound && searched"
                 ng-init="getSuggestedPeople()">

            </div>

            <div class="row" ng-if="matchResults.suggestpeople">
                <div class="col-lg-12">
                    <h5>
                        <label style="color:#FFF;">
                            no results found but these peoples can help you...
                        </label>
                    </h5>
                </div>
            </div>

            <div class="row" style="padding-top:30px;" infinite-scroll='matchResults.nextPage()'
                                         infinite-scroll-disabled='matchResults.busy'
                                         infinite-scroll-distance='0'
                                         infinite-scroll-parent="true">

                <div class="col-lg-10">
                    <div class="panel panel-body" style="border:1px solid #dcdcdc;" ng-repeat="rs in matchResults.mresults" >
                        <div class="media">
                          <div class="media-left">
                            <a href="#" class="pull-left" style="padding: 0px 7px;" href="">
                              <img class="media-object" style="width:50px;border-radius:4px;" data-placement="top-right" style="width:87px"
                                 data-content="{{rs.author.location.city}} {{rs.author.location.state}}"
                                 title="{{rs.author.name.first}}, {{rs.author.name.last}}"
                                 data-trigger="hover" bs-popover src="{{rs.author.picture.medium}}" alt="...">
                            </a>
                          </div>
                          <div class="media-body">
                            <h5 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                                <strong>{{rs.author.name.first}} {{rs.author.name.last}}</strong>
                                <span class="pull-right">
                                    <!-- if post from you -->
                                    <a style="font-size:14px;" name="{{rs.author._id}}"
                                       ng-if="isAuthenticated() && user._id == rs.author._id" >
                                        post from you
                                    </a>
                                    <!-- if post not from you and you logged in-->
                                    <a  style="font-size:14px;" name="{{rs.author._id}}"
                                       ng-if="isAuthenticated() && user._id != rs.author._id"
                                       ng-click="openchatroom('{{ rs.author._id }}');addToConversations('{{ rs.author._id}}')">
                                       chat
                                    </a>
                                    <!-- if not logged in -->
                                    <a  ng-if="!(isAuthenticated())" style="font-size:14px;" data-placement="top-right" style="width:87px"
                                         data-content="Please Login to chat" data-trigger="hover" bs-popover>
                                        Chat
                                    </a>

                                </span>
                            </h5>
                            <p class="display-text" ng-class="myVar"
                               style="font-family: 'Open sans',Arial,sans-serif;padding-top:4px;margin-bottom:0px;">
                                {{ rs.content }}
                            </p>
                            <seefulltextdirective>
                                <p class="" ng-click="myVar='my-class';hide_text()">
                                      <a style="font-size:12px;cursor:pointer;color:#666;">
                                          Read more!
                                      </a>
                                </p>
                            </seefulltextdirective>
                          </div>
                        </div>
                    </div>
                    <!--<div ng-show='matchResults.busy'>Loading data...</div>
                    <div ng-show='matchResults.end'>You Reached the end!</div>-->
                    <div class="row"
                         ng-show="!(matchResults.mresults.length) && searched">
                        <div class="col-lg-10">
                            <h5>
                                <label style="color:#FFF;">
                                    No results found
                                </label>
                            </h5>
                            <h5 style="margin-top:20px;">

                            </h5>
                        </div>
                    </div>
                    <div class="row" ng-if="!searched" style="margin-top:20px;">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h5 style="color:;">
                                        How to use in weber in simple 3 steps
                                    </h5>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-1" style="margin-right:10px;">
                                            <i class="fa fa-search"
                                               style="padding:17px;font-size:18px;background-color:#3090C7;color:#FFF;border-radius:50%;">

                                            </i>&nbsp;
                                        </div>
                                        <div class="col-lg-10">
                                            <label style="margin-top:3px;">Search</label><br />
                                            Ex:I am going to grab a cup of coffee whose with me ?
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-1" style="margin-right:10px;">
                                            <i class="fa fa-user"
                                               style="padding:17px;font-size:18px;background-color:#4E9258;color:#FFF;border-radius:50%;">

                                            </i>&nbsp;
                                        </div>
                                        <div class="col-lg-10">
                                            <label style="margin-top:3px;">
                                                Find a person
                                            </label><br />
                                            Ex:I am going to grab a cup of coffee whose with me ?
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-1" style="margin-right:10px;">
                                            <i class="fa fa-check-circle"
                                                style="padding:17px;font-size:18px;background-color:#FFA62F;color:#FFF;border-radius:50%;"></i>
                                        </div>
                                        <div class="col-lg-10">
                                            <label style="margin-top:3px;">
                                                Connect & Enjoy
                                            </label><br />
                                            Connect, Chat, Enjoy..
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-offset-1 col-lg-4" ng-if="!(isAuthenticated())">
            <div class="row">
                <div class="col-lg-12 colpadding">
                    <h4>
                        <label style="font-family: 'open sans',arial,sans-serif;color:#fff;font-weight:400;">
                            Register with Weber.. It's free
                        </label>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 colpadding">
                    <form accept-charset="UTF-8"
                          role="form" name="myForm" method="post"
                          ng-submit="signup()" cg-busy="signupBusy">
                        <fieldset>
                            <div class="form-group">
                                <input type="email" class="form-control input-box input-md"
                                       placeholder="Enter email" autocomplete="off"
                                           id="email" name="email" ng-model="formData.email" required/>
                                    <span ng-show="myForm.email.$error.required && myForm.email.$dirty" style="color:red">
                                        Email is required
                                    </span>
                                    <span ng-show="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty"
                                            style="color:red">
                                        You entered an invalid email
                                    </span>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6" style="padding-right:2px;">
                                        <input class="form-control input-box input-md" autocomplete="off" type="text" placeholder="Enter first name"
                                           id="name" name="name" ng-model="formData.firstname" required/>
                                        <span ng-show="myForm.name.$error.required && myForm.name.$dirty" style="color:red">
                                            required
                                        </span>
                                    </div>
                                    <div class="col-sm-6" style="padding-left:2px;">
                                        <input class="form-control input-box input-md" autocomplete="off" type="text" placeholder="Enter last name"
                                           id="lastname" name="lastname" ng-model="formData.lastname" required  />
                                        <span ng-show="myForm.lastname.$error.required && myForm.lastname.$dirty" style="color:red">
                                            required
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="">
                                <input class="form-control input-box input-md" required
                                       placeholder="Password(at least 6 Characters )"
                                       id="password" name="password" ng-model="formData.password" ng-minlength="5" ng-maxlength="15" type="password" value="">
                                <span ng-show="myForm.password.$error.required && myForm.password.$dirty" style="color:red">
                                    required
                                </span>
                                <span ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty" style="color:red">
                                    Passwords must be between 5 and 10 characters.
                                </span>
                            </div>
                            <div class="form-group" style="">
                                <span ng-if="signUpError" style="color:red;">
                                    {{ signUpError.data.error }}
                                </span>
                            </div>
                            <div class="form-group">
                                <tags-input ng-model="tags" on-tag-added="tagAdded($tag)"
                                            on-tag-removed="tagRemoved($tag)">
                                    <auto-complete source="loadTags($query)"></auto-complete>
                                </tags-input>
                            </div>
                            <div class="form-group" style="">
                                <label class="radio-inline" style="color:#FFF;">
                                  <input type="radio" ng-change="gendererror = false" ng-model="formData.gender" value="male">
                                  Male
                                </label>
                                <label class="radio-inline" style="color:#FFF;">
                                  <input type="radio" ng-change="gendererror = false" ng-model="formData.gender" value="female">
                                  Female
                                </label>
                                <span ng-show="gendererror">
                                    Please select gender
                                </span>
                            </div>

                            <button ng-click = "registerUser()" style="padding: 8px 12px;"
                                                type="submit" class="btn btn-block btn-primary"
                                                ng-disabled="!myForm.$valid">
                                Register with weber
                            </button>
                        </fieldset>
			      	</form>
                </div>
            </div>
        </div>
    </div>
</div>


<style ng-if="!(isAuthenticated())">
    body{
        background: url(static/app/images/bg-start.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top:30px;
    }
</style>