body {
	background-color: #f2f2f2;
	padding-top: 70px;
	font-family: Raleway, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
}
/* styles for navbar search bar text box*/
    .search-navbar::-webkit-input-placeholder {
        font-size: 14px;
        font-family: Raleway, Helvetica, Arial, sans-serif;
    }
    .search-navbar:-moz-placeholder { /* Firefox 18- */
        font-size: 14px;
        font-family: Raleway, Helvetica, Arial, sans-serif;
    }
    .search-navbar::-moz-placeholder {  /* Firefox 19+ */
        font-size: 14px;
        font-family: Raleway, Helvetica, Arial, sans-serif;
    }
    .search-navbar:-ms-input-placeholder {  
        font-size: 14px;
        font-family: Raleway, Helvetica, Arial, sans-serif;
    }
/* end of navbar search box styles */

/* styles for status update and questions div arrow */
    .status_arrow {
        position: relative;
        background: #fff;
        border: 0px solid #45ff5e;
    }
    .status_arrow:after, .status_arrow:before {
        bottom: 118px;
        left: 33%;
        border: 1px solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .status_arrow:after {
        border-color: rgba(54, 54, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
    }
    .status_arrow:before {
        border-color: rgba(69, 255, 94, 0);
        border-bottom-color: #ffffff;
        border-width: 17px;
        margin-left: -17px;
    }

    /* start of questions arrow css */

    .questions_arrow {
        position: relative;
        background: #fff;
        border: 0px solid #45ff5e;
    }
    .questions_arrow:after, .questions_arrow:before {
        top: -34px;
        left: 8%;
        border: 1px solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .questions_arrow:after {
        border-color: rgba(54, 54, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
    }
    .questions_arrow:before {
        border-color: rgba(69, 255, 94, 0);
        border-bottom-color: #ffffff;
        border-width: 12px;
        margin-left: -16px;
    }
/* end of css for status update and questions div arrow */

/* style for show navabar popup div */
    .show_nav_bar_popup_div{
        position: absolute;
        top: 50px !important;
        right: 0 !important;
        left:-350px !important;
        z-index: 1060;
        width: 400px;
        display: none;
        max-width: 500px;
    }
    .show_nav_bar_popup_div:after, .show_nav_bar_popup_div:before {
        top: -20px;
        right: 4%;
        border: 1px solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .show_nav_bar_popup_div:after {
        border-color: rgba(54, 54, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
    }
    .show_nav_bar_popup_div:before {
        border-color: rgba(69, 255, 94, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -16px;
    }

/* end of show nav bar styles popup div */

/* styles for custom radio buttons */
    .radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox]{
        width:20px !important;
        height:20px !important;
        margin: 0px 0px 0 -28px !important;
    }
/* end of styles for custom radio buttons */

.in { display:none; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
    .hide-chat-for-mobile{
        display: none !important;
    }
    .show-when-minimize{
        z-index: 999;background: #000000;
    }
    .container{
        width: 100% !important;
        margin: 0px auto !important;
        padding: 0px !important;
    }
}

#screen-overlay {
	background: rgba(255, 255, 255, 0.53);

	transition: .15s ease-out background-color;
	-moz-transition: .15s ease-out background-color;
	-webkit-transition: .15s ease-out background-color;
	-o-transition: .15s ease-out background-color;
	height:100%;
    width:100%;
    position:absolute;
    z-index:41;
    /*-webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.4);
    box-shadow:0 0 10px rgba(0,0,0,0.4)*/
}

.navbar-brand{
    font-family: Raleway, Helvetica, Arial, sans-serif !important;
    font-weight:400;
}
.header-start-search{
    -webkit-box-shadow: 0 1px 4px #ccc;
    -moz-box-shadow: 0 1px 4px #ccc;
    box-shadow: 0 1px 4px #ccc;
    z-index: 200;
    background: #F4F4F4;
    border-bottom: 1px solid #CDCDCD;
}


.highlighted{

	color: red;
}

.alert {
	z-index: 1;
	position:absolute;
	top:0px;
	right:10px;
}

.password-strength-indicator {
	position: absolute;
	right: 0;
	top: 10px;
	width: 5px;
	padding: 0 15px;
}

.password-strength-indicator span {
	display: block;
	height: 5px;
	margin-bottom: 2px;
	width: 5px;
	border-radius: 5px;
	background: #ebeef1;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: white;
	background-color: rgb(77, 87, 100);
}

.navbar-inverse {
	background-color: #424a55;
	border: 0;
	height: 50px;
}

.navbar-inverse .navbar-text, .navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-link, .navbar-inverse .btn-link {
	color: #fff;
}

#nav-search {
	border: 0;
	border-radius: 0;
	border: 1px solid #ccc;
}

.colpadding {
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.colpadding1 {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.list-group-border{
	border-radius:0px !important;
}

.profile {
	width: 100%;
	float: left;
	padding: 15px 10px;
	position: relative;
	background: #2d3945;
}

.profile .profile-image {
	float: left;
	width: 100%;
	margin: 0 0 10px;
	text-align: center;
}

.profile .profile-image img {
	width: 100px;
	border: 3px solid #FFF;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.profile .profile-data {
	width: 100%;
	float: left;
	text-align: center;
}

.profile .profile-data .profile-data-name {
	width: 100%;
	float: left;
	font-size: 14px;
	font-weight: 500;
	color: #FFF;
}

.profile .profile-data .profile-data-title {
	width: 100%;
	float: left;
	font-size: 11px;
	font-weight: 400;
	color: #999;
}

.nav-search-resuts {
	list-style: none;
	margin: 0 auto;
	text-align: left;
	border: 1px solid #ccc;
	padding-left: 0px;
}

.nav-search-resuts li {
	border-bottom: 1px solid #ddd;
	padding: 10px;
	overflow: hidden;
	background: white;
}

.nav-search-resuts li img {
	width: 60px;
	height: 60px;
	float: left;
	border: none;
}

.nav-search-resuts li p {
	margin-left: 75px;
	font-weight: bold;
	padding-top: 12px;
	color: #6e7a7f;
}


/* Chat Interface */
.chat {
	list-style: none;
	margin: 0;
	padding: 0;
}

.chat li {
	padding-bottom: 5px;

}

.chat li.left .chat-body {
	margin-left: 60px;
}

.chat li.right .chat-body {
	margin-right: 60px;
}

.chat li .chat-body p {
	margin: 0;
	color: #777777;
}

.panel-default {
	border-top: 0;
}
.display-text{
    display:inline-block;
    width:100%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    text-align:justify;
}

.my-class {
   overflow:none !important;
   white-space:normal;
   text-overflow: initial;
   text-align:justify;
}

.add-on .input-group-btn > .btn {
      border-left-color:#fff;left:-2px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

/* chat hover login div css goes here*/
.chat_not_login .chat_hover_div{
    display:none;
}
.chat_not_login:hover .chat_hover_div{
    position:absolute;
    display:block;
}
/* input boxes of start_search.html page*/

.input-box{
    height: 38px;
}

.input-box::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
    font-size:15px;
}
.input-box:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
   opacity:  1;
   font-size:15px;
}
.input-box::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
   opacity:  1;
   font-size:15px;
}
.input-box:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #999;
   font-size:15px;
}

.search-box::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
    font-size:15px;
}
.search-box:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
   opacity:  1;
   font-size:15px;
}
.search-box::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
   opacity:  1;
   font-size:15px;
}
.search-box:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #999;
   font-size:15px;
}


/* image cropping and settings open div styles goes here */
    .cropArea {
      background: #E4E4E4;
      margin: auto;
      overflow: hidden;
    }
    .cropArea.small {
      width:100%;
      height:200px;
    }
/* end of image cropping  and settings open div styles */
/* settings tabs css goes here */

#accordion .glyphicon { margin-right:10px; }
.panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
.panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
.panel-collapse>.list-group {margin-bottom: 0;}
.panel-collapse .list-group-item {border-radius:0;}

.panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
.panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
.panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

.panel-collapse div.list-group div.list-group{margin: 0;}
.panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
.panel-collapse .list-group-item li.list-group-item {border-top: 1px solid #DDD !important;}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
background-color:#fff !important;
color:red !important;
}
.panel-collapse .list-group-item {
    padding:15px;
}

/* end of settings tabs css */

body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #444;
}
.popup-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(196, 196, 196, .85);
    top: 0;
    z-index:1000;
    left: 100%;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -ms-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}
.overlay .popup-overlay {
    opacity: 1;
    left: 0
}
.popup {
    position: fixed;
    top: 25%;
    left: 50%;
    z-index: -9999;
}


.popup .popup-body {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f7f7f7));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0);
    opacity: 0;
    margin-left: -200px;
    padding: 20px;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -ms-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    position: relative;
    -moz-box-shadow: 1px 2px 3px 1px rgb(185, 185, 185);
    -webkit-box-shadow: 1px 2px 3px 1px rgb(185, 185, 185);
    box-shadow: 1px 2px 3px 1px rgb(185, 185, 185);
    text-align: center;
    border: 1px solid #e9e9e9;
}

.popup.visible, .popup.transitioning {
    z-index: 9999;
}
.popup.visible .popup-body {
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.popup .popup-exit {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -20px;
    right: -20px;
    background: url(http://blog.artera.it/wp-content/uploads/2013/06/x-btn.png) no-repeat;
}
.popup-content .popup-title {
    font-size: 24px;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
}
.popup-content p {
    font-size: 13px;
    text-align: justify;
}